{% extends "layout/base.html" %}
{% block content %}



<div class="container my-5">
    <div class="card">
        <div class="card-header bg-dark text-white ">All Volunteers </div>
        <div class="card-body">
            <a class="btn btn-primary my-2" href="{% url 'volunteers:add' %}">Add Volunteers</a>
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Volunteer ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Phone number</th>
                        <th>NGO Associated</th>
                        <th>Area Of Operation</th>
                        <th>Controls</th>

                    </tr>
                </thead>
                <tbody>
                    {% for volunteer in volunteers %}
                    <tr>
                        <td>{{volunteer.id}}</td>
                        <td>{{volunteer.first_name}}</td>
                        <td>{{volunteer.last_name}}</td>
                        <td>{{volunteer.age}}</td>
                        <td>{{volunteer.gender}}</td>
                        <td>{{volunteer.phone_number}}</td>
                        <td>{{volunteer.ngo_association }}</td>
                        <td>{{volunteer.area_of_operation }}</td>
                        <td> <a class="btn btn-primary my-1" href="{% url 'volunteers:update_view' volunteer.id %}">Edit Profile</a></td>
                        <td> <a class="btn btn-primary my-1" href="{% url 'volunteers:add' %}">Send Alert</a></td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
        </div>
    </div>

</div>
<br/></br/>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      
   
{% if vols.has_previous %}
<li class="page-item"><a class="page-link" href="/volunteers/index?page=1">&laquo First</a></li>
<!--<li class="page-item"><a class="page-link" href="/volunteers/index?page={{vols.previous_page_number}}">Prev</a></li>
-->
{% endif %}

{% if vols.number|add:'-2' > 1%}
<li class="page-item"><a href="/volunteers/index?page={{vols.number|add:'-2'}}" class="page-link" >&hellip;</a></li>
{% endif %}

{% for i in vols.paginator.page_range %}
{% if vols.number == i %}
<li class="page-item active"><span class="page-link">{{ i }}</span class="sr-only"></li>
{% elif i > vols.number|add:'-2' and i < vols.number|add:'2' %}
<li class="page-item"><a href="/volunteers/index?page={{ i }}" class="page-link">{{ i }}</a></li>
{% endif %}
{% endfor %}

{% if vols.paginator.num_pages > vols.number|add:'2' %}
<li class="page-item"><span class="page-link"><a style="text-decoration:none;" href="/volunteers/index?page={{ vols.number|add:'-2'}}">&hellip;</a></span></li>
<li class="page-item" ><a href="/volunteers/index?page={{i}}">{{i}}</a></li>
<li class="page-item" ><a class="page-link" href="/volunteers/index?page={{vols.paginator.num_pages}}">{{vols.paginator.num_pages}}</a></li>
{% endif %}

{% if vols.has_next %}
<!--
<li class="page-item"><a class="page-link" href="/volunteers/index?page={{vols.next_page_number}}">Next</a></li>
-->
<li class="page-item"><a class="page-link" href="/volunteers/index?page={{vols.paginator.num_pages}}">Last &raquo</a></li>
{% endif %}
</ul>
</nav>
{% endblock %}
