{% extends "layout/base.html" %}
{% block content %}
<br>
<div class="container d-flex justify-content-center">
	<div>
        <form action="/volunteers/volunteersglobalview/" method="GET">
		<div class="input-group mb-5" style="width: 400px;" >
			<input type="text" class="form-control" placeholder="Search" name="search">
		    <div class="input-group-append"><button class="btn btn-primary"><i class="fas fa-search"></i></button></div>
	    </div>	
        </form>
    </div>
</div>
<div style="margin-left: 100px; margin-right: 100px;">
    <div class="card">
        <div class="card-header bg-dark text-white ">All Volunteers</div>
        <div class="card-body">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Vol ID</th>
                        <th>First Name</th>
                        <th>Last name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Mobile Number</th>
                        <th>Association</th>
                        <th>Area of Operation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in vols %}
                    <tr>
                        <td>{{x.id}}</td>
                        <td>{{x.first_name}}</td>
                        <td>{{x.last_name}}</td>
                        <td>{{x.age}}</td>
                        <td>{{x.gender}}</td>
                        <td>{{x.phone_number}}</td>
                        <td>{{x.ngo_association}}</td>
                        <td>{{x.area_of_operation}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
</div>
<br/></br/>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      
   
{% if vols.has_previous %}
<li class="page-item"><a class="page-link" href="/volunteers/volunteersglobalview?page=1">&laquo First</a></li>
<!--<li class="page-item"><a class="page-link" href="/volunteers/volunteersglobalview?page={{vols.previous_page_number}}">Prev</a></li>
-->
{% endif %}

{% if vols.number|add:'-2' > 1%}
<li class="page-item"><a href="/volunteers/volunteersglobalview?page={{vols.number|add:'-2'}}" class="page-link" >&hellip;</a></li>
{% endif %}

{% for i in vols.paginator.page_range %}
{% if vols.number == i %}
<li class="page-item active"><span class="page-link">{{ i }}</span ></li>
{% elif i > vols.number|add:'-2' and i < vols.number|add:'2' %}
<li class="page-item"><a href="/volunteers/volunteersglobalview?page={{ i }}" class="page-link">{{ i }}</a></li>
{% endif %}
{% endfor %}

{% if vols.paginator.num_pages > vols.number|add:'2' %}
<li class="page-item"><span class="page-link"><a style="text-decoration:none;" href="/volunteers/volunteersglobalview?page={{ vols.number|add:'-2'}}">&hellip;</a></span></li>
<li class="page-item" ><a href="/volunteers/volunteersglobalview?page={{i}}">{{i}}</a></li>
<li class="page-item" ><a class="page-link" href="/volunteers/volunteersglobalview?page={{vols.paginator.num_pages}}">{{vols.paginator.num_pages}}</a></li>
{% endif %}

{% if vols.has_next %}
<!--
<li class="page-item"><a class="page-link" href="/volunteers/volunteersglobalview?page={{vols.next_page_number}}">Next</a></li>
-->
<li class="page-item"><a class="page-link" href="/volunteers/volunteersglobalview?page={{vols.paginator.num_pages}}">Last &raquo</a></li>
{% endif %}
</ul>
</nav>
{% endblock %}