@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/Resize the wrap to see the search bar change!/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto-Regular;
}

.container {
    width: 320px;
    height: 480px;
    background: #fff;
    box-shadow: 0 10px 15px rgba(179, 179, 179, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.container h2{
    color: #0A66C3;
    font-size: 1.6rem;
}


.container h2 i{
    font-size: 1.8rem;
    padding-left: .1rem;
}

.text p{
    font-size: .8rem;
    padding-top: 0.3rem;
}

.input {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 0.7em;
}

.your-input input{
    width: 100%;
    height: 50px;
    padding-top: 1.1rem;
    padding-left: 9px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: .2s;
}

.your-input label {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 1.1rem;
    color: #8c8c8c;
    transition: .2s;
}

.input input:focus ~ label,
.input input:valid ~ label{
    top: 10%;
    font-size: .8rem;
    color: #000;
}

.input input:focus {
    border-width: 2px;
    border-color: #0A66C3;
}

.forgot-password-link {
    width: 140px;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    transition: .3s;
    border-radius: 12px;
}

.forgot-password-link:hover{
    background: rgba(10, 102, 195, 0.3);
}

button {
    height: 50px;
    background: #0A66C3;
    outline: none;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    font-weight: bolder;
}

.join-link {
   text-decoration: none;
   font-weight: bolder;
   color: #0A66C3;
}

.join-now{
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    border-radius: 12px;
    transition: .3s;
    font-weight: bolder;
    padding: .2rem;
}

.join-now:hover{
    background: rgba(10, 102, 195, 0.3);
}