{% extends "layout/base.html" %}
{% load django_bootstrap5 %}
{% block content %}

    <div class="container" >
      <div class="row row-cols-1 row-cols-lg-3 ">
        <div class="col" style="margin-top: 50px;">
	      <div class="card" style="width: 18rem;">
          <img src="/media/victim.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Victim Form</h5>
            <p class="card-text">Form to add new victim details.</p>
            <a href="#" class="btn btn-primary">Add victim</a>
          </div>
        </div>
        </div>
        <div class="col" style="margin-top: 50px;">
        <div class="card" style="width: 18rem;">
          <img src="/media/volunteer.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Volunteer Form</h5>
            <p class="card-text">Form to add new volunteer details.</p>
            <a href="#" class="btn btn-primary">Add volunteer</a>
          </div>
          </div>
        </div>
        <div class="col" style="margin-top: 50px;">
          <div class="card" style="width: 18rem;">
            <img src="/media/ngo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">NGO Form</h5>
              <p class="card-text">Add new NGO details.</p>
              <a href="#" class="btn btn-primary">Add NGO</a>
            </div>
            </div>
          </div>
      </div>
    </div>
{% endblock %}